@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.flash-efect {
  opacity: 1;
  animation: flash-animation 0.7s forwards;
}

.frame-container {
  transform: scale(1);
}

@media (max-height: 800px) {
  .frame-container {
    transform: scale(0.9);
  }
}

@keyframes flash-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
#loader:before,
#loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: black;
  animation:
    l1-1 2s infinite,
    l1-2 0.5s infinite;
}
#loader:after {
  background: #676767;
  animation-delay: -1s, 0s;
}
@keyframes l1-1 {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 100%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 100%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes l1-2 {
  80%,
  100% {
    transform: rotate(0.5turn);
  }
}

.filter-1977 {
  -webkit-filter: sepia(0.5) hue-rotate(-30deg) saturate(1.4);
  filter: sepia(0.5) hue-rotate(-30deg) saturate(1.4);
}

.filter-aden {
  -webkit-filter: sepia(0.2) brightness(1.15) saturate(1.4);
  filter: sepia(0.2) brightness(1.15) saturate(1.4);
}

.filter-amaro {
  -webkit-filter: sepia(0.35) contrast(1.1) brightness(1.2) saturate(1.3);
  filter: sepia(0.35) contrast(1.1) brightness(1.2) saturate(1.3);
}

.filter-ashby {
  -webkit-filter: sepia(0.5) contrast(1.2) saturate(1.8);
  filter: sepia(0.5) contrast(1.2) saturate(1.8);
}

.filter-brannan {
  -webkit-filter: sepia(0.4) contrast(1.25) brightness(1.1) saturate(0.9) hue-rotate(-2deg);
  filter: sepia(0.4) contrast(1.25) brightness(1.1) saturate(0.9) hue-rotate(-2deg);
}

.filter-brooklyn {
  -webkit-filter: sepia(0.25) contrast(1.25) brightness(1.25) hue-rotate(5deg);
  filter: sepia(0.25) contrast(1.25) brightness(1.25) hue-rotate(5deg);
}

.filter-charmes {
  -webkit-filter: sepia(0.25) contrast(1.25) brightness(1.25) saturate(1.35) hue-rotate(-5deg);
  filter: sepia(0.25) contrast(1.25) brightness(1.25) saturate(1.35) hue-rotate(-5deg);
}

.filter-clarendon {
  -webkit-filter: sepia(0.15) contrast(1.25) brightness(1.25) hue-rotate(5deg);
  filter: sepia(0.15) contrast(1.25) brightness(1.25) hue-rotate(5deg);
}

.filter-crema {
  -webkit-filter: sepia(0.5) contrast(1.25) brightness(1.15) saturate(0.9) hue-rotate(-2deg);
  filter: sepia(0.5) contrast(1.25) brightness(1.15) saturate(0.9) hue-rotate(-2deg);
}

.filter-dogpatch {
  -webkit-filter: sepia(0.35) saturate(1.1) contrast(1.5);
  filter: sepia(0.35) saturate(1.1) contrast(1.5);
}

.filter-earlybird {
  -webkit-filter: sepia(0.25) contrast(1.25) brightness(1.15) saturate(0.9) hue-rotate(-5deg);
  filter: sepia(0.25) contrast(1.25) brightness(1.15) saturate(0.9) hue-rotate(-5deg);
}

.filter-gingham {
  -webkit-filter: contrast(1.1) brightness(1.1);
  filter: contrast(1.1) brightness(1.1);
}

.filter-ginza {
  -webkit-filter: sepia(0.25) contrast(1.15) brightness(1.2) saturate(1.35) hue-rotate(-5deg);
  filter: sepia(0.25) contrast(1.15) brightness(1.2) saturate(1.35) hue-rotate(-5deg);
}

.filter-hefe {
  -webkit-filter: sepia(0.4) contrast(1.5) brightness(1.2) saturate(1.4) hue-rotate(-10deg);
  filter: sepia(0.4) contrast(1.5) brightness(1.2) saturate(1.4) hue-rotate(-10deg);
}

.filter-helena {
  -webkit-filter: sepia(0.5) contrast(1.05) brightness(1.05) saturate(1.35);
  filter: sepia(0.5) contrast(1.05) brightness(1.05) saturate(1.35);
}

.filter-hudson {
  -webkit-filter: sepia(0.25) contrast(1.2) brightness(1.2) saturate(1.05) hue-rotate(-15deg);
  filter: sepia(0.25) contrast(1.2) brightness(1.2) saturate(1.05) hue-rotate(-15deg);
}

.filter-inkwell {
  -webkit-filter: brightness(1.25) contrast(0.85) grayscale(1);
  filter: brightness(1.25) contrast(0.85) grayscale(1);
}

.filter-juno {
  -webkit-filter: sepia(0.35) contrast(1.15) brightness(1.15) saturate(1.8);
  filter: sepia(0.35) contrast(1.15) brightness(1.15) saturate(1.8);
}

.filter-kelvin {
  -webkit-filter: sepia(0.15) contrast(1.5) brightness(1.1) hue-rotate(-10deg);
  filter: sepia(0.15) contrast(1.5) brightness(1.1) hue-rotate(-10deg);
}

.filter-lark {
  -webkit-filter: sepia(0.25) contrast(1.2) brightness(1.3) saturate(1.25);
  filter: sepia(0.25) contrast(1.2) brightness(1.3) saturate(1.25);
}

.filter-lofi {
  -webkit-filter: saturate(1.1) contrast(1.5);
  filter: saturate(1.1) contrast(1.5);
}

.filter-ludwig {
  -webkit-filter: sepia(0.25) contrast(1.05) brightness(1.05) saturate(2);
  filter: sepia(0.25) contrast(1.05) brightness(1.05) saturate(2);
}

.filter-maven {
  -webkit-filter: sepia(0.35) contrast(1.05) brightness(1.05) saturate(1.75);
  filter: sepia(0.35) contrast(1.05) brightness(1.05) saturate(1.75);
}

.filter-mayfair {
  -webkit-filter: contrast(1.1) brightness(1.15) saturate(1.1);
  filter: contrast(1.1) brightness(1.15) saturate(1.1);
}

.filter-moon {
  -webkit-filter: brightness(1.4) contrast(0.95) saturate(0) sepia(0.35);
  filter: brightness(1.4) contrast(0.95) saturate(0) sepia(0.35);
}

.filter-perpetua {
  -webkit-filter: contrast(1.1) brightness(1.25) saturate(1.1);
  filter: contrast(1.1) brightness(1.25) saturate(1.1);
}

.filter-poprocket {
  -webkit-filter: sepia(0.15) brightness(1.2);
  filter: sepia(0.15) brightness(1.2);
}

.filter-reyes {
  -webkit-filter: sepia(0.75) contrast(0.75) brightness(1.25) saturate(1.4);
  filter: sepia(0.75) contrast(0.75) brightness(1.25) saturate(1.4);
}

.filter-rise {
  -webkit-filter: sepia(0.25) contrast(1.25) brightness(1.2) saturate(0.9);
  filter: sepia(0.25) contrast(1.25) brightness(1.2) saturate(0.9);
}

.filter-sierra {
  -webkit-filter: sepia(0.25) contrast(1.5) brightness(0.9) hue-rotate(-15deg);
  filter: sepia(0.25) contrast(1.5) brightness(0.9) hue-rotate(-15deg);
}

.filter-skyline {
  -webkit-filter: sepia(0.15) contrast(1.25) brightness(1.25) saturate(1.2);
  filter: sepia(0.15) contrast(1.25) brightness(1.25) saturate(1.2);
}

.filter-slumber {
  -webkit-filter: sepia(0.35) contrast(1.25) saturate(1.25);
  filter: sepia(0.35) contrast(1.25) saturate(1.25);
}

.filter-stinson {
  -webkit-filter: sepia(0.35) contrast(1.25) brightness(1.1) saturate(1.25);
  filter: sepia(0.35) contrast(1.25) brightness(1.1) saturate(1.25);
}

.filter-sutro {
  -webkit-filter: sepia(0.4) contrast(1.2) brightness(0.9) saturate(1.4) hue-rotate(-10deg);
  filter: sepia(0.4) contrast(1.2) brightness(0.9) saturate(1.4) hue-rotate(-10deg);
}

.filter-toaster {
  -webkit-filter: sepia(0.25) contrast(1.5) brightness(0.95) hue-rotate(-15deg);
  filter: sepia(0.25) contrast(1.5) brightness(0.95) hue-rotate(-15deg);
}

.filter-valencia {
  -webkit-filter: sepia(0.25) contrast(1.1) brightness(1.1);
  filter: sepia(0.25) contrast(1.1) brightness(1.1);
}

.filter-vesper {
  -webkit-filter: sepia(0.35) contrast(1.15) brightness(1.2) saturate(1.3);
  filter: sepia(0.35) contrast(1.15) brightness(1.2) saturate(1.3);
}

.filter-walden {
  -webkit-filter: sepia(0.35) contrast(0.8) brightness(1.25) saturate(1.4);
  filter: sepia(0.35) contrast(0.8) brightness(1.25) saturate(1.4);
}

.filter-willow {
  -webkit-filter: brightness(1.2) contrast(0.85) saturate(0.05) sepia(0.2);
  filter: brightness(1.2) contrast(0.85) saturate(0.05) sepia(0.2);
}

.filter-xpro-ii {
  -webkit-filter: sepia(0.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);
  filter: sepia(0.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
